.mouse {
  position: fixed;
  width: 35px;
  height: 35px;
  z-index: 1000;
  border:2px solid #fff;
  background-image: url(../assets/shared/mouse.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: transform 0.1s ease-out, top 0.1s ease-out, left 0.1s ease-out; 
}
